<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bbs">
	
	<!-- 전체 게시물의 수 -->
	<select id="count" resultType="int">
		select count(*) from bbs 
	</select>
	
	<select id="list" parameterType="Map" resultType="com.ict.db.BVO">
		select * from (
			select rownum r_num, a.* from (
				select * from bbs order by b_idx desc
			) a
		) where r_num between #{begin} and #{end}
	</select>

	<!-- <select id="list" resultType="com.ict.db.BVO">
		select * from bbs order by b_idx
	</select> -->
	<insert id="insert" parameterType="com.ict.db.BVO">
		insert into bbs values(bbs_seq.nextval, #{subject},#{writer}, #{content},#{file_name},#{pwd},sysdate,0)
	</insert>
	<update id="hitup" parameterType="String">
		update bbs set hit = hit+1 where b_idx=#{b_idx}
	</update>
	<select id="onelist" parameterType="String" resultType="com.ict.db.BVO">
		select * from bbs where b_idx = #{b_idx}
	</select>
	<select id="clist" parameterType="String" resultType="com.ict.db.CVO">
		select * from comm where b_idx=#{b_idx} order by c_idx desc
	</select>
	<insert id="c_insert" parameterType="com.ict.db.CVO">
		insert into comm values(comment_seq.nextval,null,#{content},null,sysdate,#{b_idx})
	</insert>
	<delete id="c_delete" parameterType="com.ict.db.CVO">
		delete from comm where c_idx = #{c_idx}
	</delete>
	<update id="update" parameterType="com.ict.db.BVO">
		update bbs set subject=#{subject}, writer=#{writer}, content=#{content}, file_name=#{file_name} where b_idx = #{b_idx}
	</update>
	
	<delete id="delete" parameterType="String">
		delete from bbs where b_idx = #{b_idx}
	</delete>
	
	<delete id="c_delete_all" parameterType="String">
		delete from comm where b_idx = #{b_idx}
	</delete>
</mapper>












